# DataFrames in Julia

In [1]:
using DataFrames, CSV, Arrow, Statistics

In [2]:
download("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original",
         "auto.txt")

"auto.txt"

In [3]:
readlines("auto.txt")

406-element Vector{String}:
 "18.0   8.   307.0      130.0   " ⋯ 25 bytes ⋯ " 1.\t\"chevrolet chevelle malibu\""
 "15.0   8.   350.0      165.0   " ⋯ 17 bytes ⋯ "5   70.  1.\t\"buick skylark 320\""
 "18.0   8.   318.0      150.0   " ⋯ 18 bytes ⋯ "   70.  1.\t\"plymouth satellite\""
 "16.0   8.   304.0      150.0      3433.      12.0   70.  1.\t\"amc rebel sst\""
 "17.0   8.   302.0      140.0      3449.      10.5   70.  1.\t\"ford torino\""
 "15.0   8.   429.0      198.0      4341.      10.0   70.  1.\t\"ford galaxie 500\""
 "14.0   8.   454.0      220.0      4354.       9.0   70.  1.\t\"chevrolet impala\""
 "14.0   8.   440.0      215.0   " ⋯ 17 bytes ⋯ "5   70.  1.\t\"plymouth fury iii\""
 "14.0   8.   455.0      225.0      4425.      10.0   70.  1.\t\"pontiac catalina\""
 "15.0   8.   390.0      190.0   " ⋯ 18 bytes ⋯ "   70.  1.\t\"amc ambassador dpl\""
 "NA     4.   133.0      115.0   " ⋯ 20 bytes ⋯ " 70.  2.\t\"citroen ds-21 pallas\""
 "NA     8.   350.0      165.0   " ⋯ 32 bytes ⋯ "evrolet chevelle concours (sw)\""
 "NA     8.   351.0      153.0      4034.      11.0   70.  1.\t\"ford torino (sw)\""
 ⋮
 "25.0   6.   181.0      110.0   " ⋯ 21 bytes ⋯ "82.  1.\t\"buick century limited\""
 "38.0   6.   262.0      85.00   " ⋯ 33 bytes ⋯ "smobile cutlass ciera (diesel)\""
 "26.0   4.   156.0      92.00   " ⋯ 26 bytes ⋯ "1.\t\"chrysler lebaron medallion\""
 "22.0   6.   232.0      112.0      2835       14.7   82.  1.\t\"ford granada l\""
 "32.0   4.   144.0      96.00      2665.      13.9   82.  3.\t\"toyota celica gt\""
 "36.0   4.   135.0      84.00   " ⋯ 17 bytes ⋯ "0   82.  1.\t\"dodge charger 2.2\""
 "27.0   4.   151.0      90.00      2950.      17.3   82.  1.\t\"chevrolet camaro\""
 "27.0   4.   140.0      86.00      2790.      15.6   82.  1.\t\"ford mustang gl\""
 "44.0   4.   97.00      52.00      2130.      24.6   82.  2.\t\"vw pickup\""
 "32.0   4.   135.0      84.00      2295.      11.6   82.  1.\t\"dodge rampage\""
 "28.0   4.   120.0      79.00      2625.      18.6   82.  1.\t\"ford ranger\""
 "31.0   4.   119.0      82.00      2720.      19.4   82.  1.\t\"chevy s-10\""

This .txt is coarse, we must change a lot in order to make it readable.

In [10]:
raw_string = read("auto.txt", String)

"18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t\"chevrolet chevelle malibu\"\n15.0   8.   350.0      165.0      3693.      11.5   70.  1.\t\"buick skylark 320\"\n18.0   8.   318.0      150.0      3436.      11.0   70.  1.\t\"plymouth satellite\"\n16.0   8.   304.0    " ⋯ 31610 bytes ⋯ "00      2130.      24.6   82.  2.\t\"vw pickup\"\n32.0   4.   135.0      84.00      2295.      11.6   82.  1.\t\"dodge rampage\"\n28.0   4.   120.0      79.00      2625.      18.6   82.  1.\t\"ford ranger\"\n31.0   4.   119.0      82.00      2720.      19.4   82.  1.\t\"chevy s-10\"\n"

In [13]:
str_no_tab = replace(raw_string, "\t"=>" ")

"18.0   8.   307.0      130.0      3504.      12.0   70.  1. \"chevrolet chevelle malibu\"\n15.0   8.   350.0      165.0      3693.      11.5   70.  1. \"buick skylark 320\"\n18.0   8.   318.0      150.0      3436.      11.0   70.  1. \"plymouth satellite\"\n16.0   8.   304.0    " ⋯ 31610 bytes ⋯ "00      2130.      24.6   82.  2. \"vw pickup\"\n32.0   4.   135.0      84.00      2295.      11.6   82.  1. \"dodge rampage\"\n28.0   4.   120.0      79.00      2625.      18.6   82.  1. \"ford ranger\"\n31.0   4.   119.0      82.00      2720.      19.4   82.  1. \"chevy s-10\"\n"

In [16]:
io = IOBuffer(str_no_tab)

IOBuffer(data=UInt8[...], readable=true, writable=false, seekable=true, append=false, size=32149, maxsize=Inf, ptr=1, mark=-1)

In [20]:
df1 = CSV.File(io,
               delim=" ",
               ignorerepeated=true,
               header=[:mpg, :cylinders, :displacement, :horsepower,
                       :weight, :acceleration, :year, :origin, :name],
               missingstring="NA") |>
      DataFrame

406×9 DataFrame
 Row │ mpg        cylinders  displacement  horsepower  weight   acceleration   ⋯
     │ Float64?   Float64    Float64       Float64?    Float64  Float64        ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      18.0        8.0         307.0       130.0   3504.0          12.0   ⋯
   2 │      15.0        8.0         350.0       165.0   3693.0          11.5
   3 │      18.0        8.0         318.0       150.0   3436.0          11.0
   4 │      16.0        8.0         304.0       150.0   3433.0          12.0
   5 │      17.0        8.0         302.0       140.0   3449.0          10.5   ⋯
   6 │      15.0        8.0         429.0       198.0   4341.0          10.0
   7 │      14.0        8.0         454.0       220.0   4354.0           9.0
   8 │      14.0        8.0         440.0       215.0   4312.0           8.5
   9 │      14.0        8.0         455.0       225.0   4425.0          10.0   ⋯
  10 │      15.0        8.0         390.0       190.0   3850.0           8.5
  11 │ missing          4.0         133.0       115.0   3090.0          17.5
  ⋮  │     ⋮          ⋮           ⋮            ⋮          ⋮          ⋮         ⋱
 397 │      26.0        4.0         156.0        92.0   2585.0          14.5
 398 │      22.0        6.0         232.0       112.0   2835.0          14.7   ⋯
 399 │      32.0        4.0         144.0        96.0   2665.0          13.9
 400 │      36.0        4.0         135.0        84.0   2370.0          13.0
 401 │      27.0        4.0         151.0        90.0   2950.0          17.3
 402 │      27.0        4.0         140.0        86.0   2790.0          15.6   ⋯
 403 │      44.0        4.0          97.0        52.0   2130.0          24.6
 404 │      32.0        4.0         135.0        84.0   2295.0          11.6
 405 │      28.0        4.0         120.0        79.0   2625.0          18.6
 406 │      31.0        4.0         119.0        82.0   2720.0          19.4   ⋯
                                                  3 columns and 385 rows omitted

It's possible to notice that one column is hidden, therefore we must change the width and height

In [21]:
ENV["COLUMNS"], ENV["LINES"] = 200,15

(200, 15)

In [22]:
df1

406×9 DataFrame
 Row │ mpg       cylinders  displacement  horsepower  weight   acceleration  year     origin   name
     │ Float64?  Float64    Float64       Float64?    Float64  Float64       Float64  Float64  String
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │     18.0        8.0         307.0       130.0   3504.0          12.0     70.0      1.0  chevrolet chevelle malibu
   2 │     15.0        8.0         350.0       165.0   3693.0          11.5     70.0      1.0  buick skylark 320
   3 │     18.0        8.0         318.0       150.0   3436.0          11.0     70.0      1.0  plymouth satellite
  ⋮  │    ⋮          ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮
 404 │     32.0        4.0         135.0        84.0   2295.0          11.6     82.0      1.0  dodge rampage
 405 │     28.0        4.0         120.0        79.0   2625.0          18.6     82.0      1.0  ford ranger
 406 │     31.0        4.0         119.0        82.0   2720.0          19.4     82.0      1.0  chevy s-10
                                                                                                         400 rows omitted

In [23]:
df_raw = CSV.File("auto.txt", header=[:metrics, :name]) |> DataFrame

406×2 DataFrame
 Row │ metrics                            name
     │ String                             String
─────┼──────────────────────────────────────────────────────────────
   1 │ 18.0   8.   307.0      130.0    …  chevrolet chevelle malibu
   2 │ 15.0   8.   350.0      165.0    …  buick skylark 320
   3 │ 18.0   8.   318.0      150.0    …  plymouth satellite
  ⋮  │                 ⋮                              ⋮
 404 │ 32.0   4.   135.0      84.00    …  dodge rampage
 405 │ 28.0   4.   120.0      79.00    …  ford ranger
 406 │ 31.0   4.   119.0      82.00    …  chevy s-10
                                                    400 rows omitted

In [24]:
str_metrics = split.(df_raw.metrics)

406-element Vector{Vector{SubString{String}}}:
 ["18.0", "8.", "307.0", "130.0", "3504.", "12.0", "70.", "1."]
 ["15.0", "8.", "350.0", "165.0", "3693.", "11.5", "70.", "1."]
 ["18.0", "8.", "318.0", "150.0", "3436.", "11.0", "70.", "1."]
 ["16.0", "8.", "304.0", "150.0", "3433.", "12.0", "70.", "1."]
 ["17.0", "8.", "302.0", "140.0", "3449.", "10.5", "70.", "1."]
 ⋮
 ["27.0", "4.", "140.0", "86.00", "2790.", "15.6", "82.", "1."]
 ["44.0", "4.", "97.00", "52.00", "2130.", "24.6", "82.", "2."]
 ["32.0", "4.", "135.0", "84.00", "2295.", "11.6", "82.", "1."]
 ["28.0", "4.", "120.0", "79.00", "2625.", "18.6", "82.", "1."]
 ["31.0", "4.", "119.0", "82.00", "2720.", "19.4", "82.", "1."]

In [25]:
df1_2 = DataFrame([col=>Float64[] for
                  col in [:mpg, :cylinders, :displacement, :horsepower, :weight, :acceleration, :year, :origin]])

0×8 DataFrame

Notice in column